<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/input.css">
</head>
<body>
   <form action="/stats/edit/<%=stat._id%>" method="POST" class="my-form">
    <link rel="stylesheet" href="/stylesheets/input.css"> 

  <div class="form-group">
    <label>Runs</label>
    <input value="<%= stat.runs %>" type="number" name="runs">
  </div>

  <div class="form-group">
    <label>Wickets</label>
    <input value="<%= stat.wickets %>" type="number" name="wickets">
  </div>

  <div class="form-group">
    <label>Overs</label>
    <input value="<%= stat.overs %>" type="number" name="overs">
  </div>

  

  <div class="form-group">
    <label>Comments</label>
    <textarea name="notes"><%= stat.notes %></textarea>
  </div>

  <button type="submit" class="submit-btn">Update User</button>

</form>
    
</body>
</html>